name: Build and test
on:
  push:
    branches:
      - '**'
      - '!main'
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci      
      - run: npm run build
      - run: npm run test 
      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "**/junit.xml"
          output: "test-summary.md"
        if: always()
      - name: Upload test summary
        uses: actions/upload-artifact@v3
        with:
          name: test-summary
          path: test-summary.md
        if: always()     